<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conopy.Respective</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/body.css">
</head>

<body>

    <header>
        <nav>
            <ul id="ul1">
                <h1>Conopy.Respective</h1>
            </ul>
            <ul id="ul2">
                <a href="https://www.instagram.com/conopy.respective/">@conopy.respective</a>
            </ul>

            <ul id="ul-insta">
                <a href="https://www.instagram.com/conopy.respective/"><ion-icon name="logo-instagram"></ion-icon></a>
            </ul>
        </nav>
    </header>

    <div class="waitlist">
        <div class="card">
            <h1 class="card__title">Join the waitlist</h1>
            <p class="card__content">Be the first to know about our latest collections, exclusive offers, and special
                events by joining the waitlist for Conopy.Respective.
            </p>
            <form action="https://docs.google.com/forms/d/e/1FAIpQLSfQeRGUgsG7-2GftVrho4p9CXqAjKyFbve5hmcRO2ng9bLcqA/formResponse" class="card__form">
                <input name="entry.2075219374" placeholder="Your Email" type="text">
                <button class="sign-up">></button>
            </form>
        </div>
    </div>

    <script src="/scripts/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>